:root {
  --blue-color: #00acdc;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  justify-content: center;
  width: 100%;
  display: flex;
}

.menu {
  max-width: 1200px;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  margin: 0 50px;
}

.nav {
  width: 621px;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
}

.logo {
  display: flex;
}

.nav-links {
  margin-right: 20px;
  display: flex;
  color: #000;
  text-transform: uppercase;
  height: 60px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  position: relative;
}

.nav-links:last-child {
  margin-right: 0;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links:hover {
  color: var(--blue-color);
}

.is-active {
  position: relative;
  color: var(--blue-color);
}

.is-active::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 4px;
  border-radius: 8px;
  display: block;
  background-color: var(--blue-color);
}
