:root {
  --blue-color: #00acdc;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: 1200px;
}

.menu {
  display: flex;
  width: 1200px;
  height: 60px;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}

.nav {
  width: 621px;
  display: flex;
  padding-right: 50px;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.logo {
  display: flex;
  padding-left: 50px;
}

.nav-menu {
  display: flex;
  color: #000;
  text-transform: uppercase;
  height: 40px;
  align-items: center;
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-menu:hover {
  color: var(--blue-color);
}

.is-active {
  position: relative;
  color: var(--blue-color);
}

.is-active::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 4px;
  border-radius: 8px;
  display: block;
  background-color: var(--blue-color);
}
